.container {
    background-color: var(--section-background);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 2px solid var(--foreground);
}

.playerTitle {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.steps {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.25rem;
    text-align: center;
}

.lastUpdate {
    font-size: 1rem;
    color: var(--timestamp-color);
    margin-top: 0.25rem;
    text-align: center;
}

.loading {
    font-size: 1.2rem;
    text-align: center;
    color: var(--timestamp-color);
}
