:root {
  --background: #ffffff;
  --foreground: #171717;

  --button-background: #0070f3;
  --button-hover-background: #005bb5;
  --timestamp-color: #666;
  --data-background: #1e1e1e;
  --data-foreground: #fff;
  --section-background: #ddd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --timestamp-color: #aaa;
    --section-background: #333;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.button {
  padding: 10px 20px;
  background-color: var(--button-background);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: var(--button-hover-background);
  }
}